ADMIN_GATEWAY_BASE_URL=https://ywdslwhykwgegkdnhvvi.supabase.co/functions/v1/weather-gateway
ADMIN_GATEWAY_API_KEY=your-supabase-publishable-key
NEXT_PUBLIC_ROOT_APP_URL=https://codyza-weather-project-17oc.vercel.app
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your-cloudflare-turnstile-site-key
